body {
    background: #03071E;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    margin: 40px;
    max-width: 800px;
}

.container {
    background: #fff;
    padding: 20px;
}